<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ArchLinuxVn - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <div id="main">
      <%= yield %>
      <p>
        ----
        <br />
        <em><%= git(:stat, @item) %>;</em>
        <br />
        <em><%= git(:last_update, @item) %></em>
      </p>
      <%= @item[:allow_comment] ? disqus_show : "" %>
    </div>
    <div id="sidebar">
      <h2><a href="/">ArchLinuxVn</a></h2>
      <ul>
        <li><a href="/vn/news">tin tức</a></li>
        <li><a href="/vn/members">thành viên</a></li>
      </ul>
      <h2><a href="/blog/">Blog</a></h2>
      <ul>
        <li>
            <a href="/blog/~redlotus/">~redlotus</a>,
            <a href="/blog/~huy/">~huy</a>,
            <a href="/blog/~icy/">~icy</a>,
            </li>
      </ul>
      <h2>Tài liệu</h2>
      <ul>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/doc/newbie">cơ bản</a></li>
        <li><a href="/doc/oldbie">trung bình</a></li>
      </ul>
      <h2>Liên kết</h2>
      <ul>
        <li><a href="http://groups.google.com/group/archlinuxvn/">nhóm thư</a></li>
        <li><a href="/vn/irc">irc</a> (<a href="/vn/bot">bot</a>, <a href="/irclogs/">log</a>)</li>
        <li><a href="http://github.com/archlinuxvn/">mã nguồn</a></li>
      </ul>
    </div>
  </body>
</html>
